body{
  font-family: fantasy;
  color: white;
  padding: 50px;
  background-color: white;
}

.hello{
  border: 5px solid #0B0978;
  padding: 30px;
  background-color: grey;
}
h1{
  color: white;
  background-color: gold;
}
p{
  color: #28004d;
  background-color: #cc99ff;
}
h4{
  color: white;
  background-color: blue;
}
